.filter {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.input {
  display: inline-block;
  width: 600px;
  height: 50px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  background-image: url('../../assets/svg/icon-search.svg');
  background-repeat: no-repeat;
  background-position: top 50% left 20px;
  padding-left: 60px;
  font-size: 16px;
  margin-bottom: 40px;
}

.input::placeholder {
  color: #575757;
  font-size: 16px;

}