.counter {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #363636;
  margin: 0 0 5px 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #EAEAEA;
  margin: 0 0 45px 0;
  padding: 0;
}